.places {
  max-width: 984px;
  color: white;
}
  
@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}
  
@media screen and (max-width: 768px) {
  .places {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));  /*(100% - 48px)*/
  }
}
  
@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
  }
}