.lead__title {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 720px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
  
@media screen and (max-width: 768px) {
  .lead__title {
    max-width: calc(288px + (720 - 288) * (100vw - 320px) / (768 - 320));
    margin-bottom: calc(16px + (32 - 16) * (100vw - 320px) / (768 - 320));
    font-size: calc(40px + (96 - 40) * (100vw - 320px) / (768 - 320));
    line-height: calc(44px + (100 - 44) * (100vw - 320px) / (768 - 320));
  }
}
  
@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: calc(100% - 32px);
    font-size: 40px;
    line-height: 44px;
  }
}