.lead__subtitle {
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 640px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
}
  
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}
  
@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: calc(100% - 128px);
  }
}
  
@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 24px;
  }
}
  
@media screen and (max-width: 560px) {
  .lead__subtitle {
    max-width: calc(100% - 80px);
    font-size: 22px;
  }
}
  
@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-bottom: 40px;
    max-width: calc(100% - 32px);
    font-size: 16px;
    line-height: 20px;
  }
}