.cover {
  max-width: 1184px;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    min-height: 350px;
  }
}

@media screen and (max-width: 490px) {
  .cover {
    min-height: 306px;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    min-height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}