.cover__title {
  margin: 0 auto 32px;
  max-width: 560px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05em;
  text-rendering: optimizeLegibility;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 720px) {
  .cover__title {
    margin: 0 auto 28px;
    max-width: 460px;
    font-size: 60px;
    line-height: 1.07em;
  }
}

@media screen and (max-width: 620px) {
  .cover__title {
    margin: 0 auto 26px;
    max-width: 400px;
    font-size: 52px;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    margin: 0 auto 24px;
    max-width: 350px;
    font-size: 46px;
  }
}

@media screen and (max-width: 490px) {
  .cover__title {
    margin: 0 auto 22px;
    max-width: 300px;
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .cover__title {
    margin: 0 auto 18px;
    max-width: 280px;
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0 auto 16px;
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}