.intro__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07em;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: calc(250px + (720 - 250) * (100vw - 320px) / (768 - 320));
    font-size: calc(32px + (54 - 32) * (100vw - 320px) / (768 - 320));
    line-height: calc(35px + (58 - 35) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}